h1{
    text-align: center;
    color: red;
}
#options{
    
    margin-left: 550px;
    margin-bottom: 50px;
}

select{
    width: 200px;
    height: 20px;
}
.textbox1
{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}
#box1{
    margin-bottom: 20px;
}